*.iml
.gradle
/local.properties
.gradle-user/
.android-sdk-home/
.android-prefs-root/
.kotlin/
.npm-cache/
.wrangler/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
